:root {
  --body-bg-color: ;
  --white: #fdfdff;
  --violet: #7e8fdd;
  --font-color: #1f212d;
  --torquoise: #9cdfdf;
  --secondary-white: #f8f9ff;
}

html {
  /* overflow-x: hidden;
  scroll-behavior: smooth; */
}

body {
  background-color: var(--white);
  color: var(--font-color);

  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;

  /* overflow-x: hidden; */
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: 374px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1248px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  opacity: 0;
}
