@font-face {
  font-family: 'Poppins';
  src: url(/src/fonts/Poppins-Regular.ttf), url(/src/fonts/Poppins-Medium.ttf),
    url(/src/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: 'Montserrat';
  src: url(/src/fonts/Montserrat-Regular.ttf);
}
