.auth-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(106, 106, 106, 0.5);
  z-index: 999;
}

.auth-modal {
  /* display: none; */
  position: absolute;
  top: 15%;
  left: 25%;
  width: 50%;
  height: 50%;
  max-width: 50%;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
}

.is-hidden {
  transform: translateX(100%);
}

.is-hidden .auth-modal {
  transform: translateX(100%);
}
