html.dark,
.dark body {
  background-color: var(--bg-dark);
  color: var(--white);
}

.dark {
  color: var(--white);
}

.dark-background {
  background-color: var(--bg-second-dark);
  color: var(--white);
}

.dark-svg {
  stroke: var(--white);
}

.dark-ingred-subt {
  color: var(--dark-ingred-subt);
}

.dark-ingred-options {
  color: var(--dark-igred-options);
}
