html.dark,
.dark body {
  background-color: var(--bg-dark);
  color: var(--white);
}

.dark {
  color: var(--white);
}

.dark-background {
  background-color: var(--bg-second-dark);
}

.dark-svg {
  stroke: var(--white);
}
