.favorite-ingridients-result {
}
.ingredient-list {
}
.ingredient-item {
  max-width: 335px;
  min-height: 222px;

  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 4px 46px 0px rgba(0, 0, 0, 0.05);
  padding: 20px;
}
.ingredient-name {
  color: var(--font-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;

  margin-bottom: 4px;
}
.category {
  color: var(--modal-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;

  margin-bottom: 14px;
}
.ingredient-decr {
  width: 295px;
  height: 54px;

  color: var(--font-color);

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;

  margin-bottom: 20px;
}
