@media only screen and (max-width: 375px) {
  .pagination-list {
    gap: 8px;
  }
}

.pagination-list {
  display: flex;
  justify-content: center;
  gap: 14px;
  padding-bottom: 100px;
}



.button-pagination {
  width: 32px;
  height: 32px;
  color: var(--violet);
  /* padding: 10px 15px; */
  font-size: 16px;
  border: 1px solid var(--violet);
  border-radius: 4px;
  transition: var(--transition);
  cursor: pointer;
}

@media only screen and (min-width:320px) and (max-width: 375px) {
  .button-pagination:first-child {
    width: 32px;
    height: 32px;
    margin-right: 20px;
  }

  .button-pagination:last-child {
    width: 32px;
    height: 32px;
    margin-left: 20px;
  }
}




@media only screen and (min-width: 768px) {
  .button-pagination:first-child {
    width: 40px;
    height: 40px;
    margin-right: 200px;
  }

  .button-pagination:last-child {
    width: 40px;
    height: 40px;
    margin-left: 200px;
  }
}

.button-pagination[disabled] {
  background-color: var(--torquoise);
  color: #555;
  cursor: not-allowed;

}

.button-pagination:hover,
.button-pagination:focus {
  background-color: var(--torquoise);
  color: var(--white);
}