.main-search-result {
  padding-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .main-search-result {
    padding-bottom: 100px;
  }
}

.section-title {
  color: var(--font-color);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;

  margin-bottom: 40px;
}

.cocktail-list,
.cocktail-favorite,
.ingredient-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  .cocktail-list,
  .cocktail-favorite,
  .ingredient-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 16px;
    row-gap: 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .cocktail-list,
  .cocktail-favorite,
  .ingredient-list {
    column-gap: 24px;
    row-gap: 44px;
  }
}

.cocktail-item,
.cocktail-fav-item {
  max-width: 335px;
  min-height: 471px;

  background-color: var(--bg-second);
  border-radius: 20px;
  box-shadow: 0px 4px 46px 0px rgba(0, 0, 0, 0.05);
}
@media only screen and (min-width: 768px) {
  .cocktail-item,
  .cocktail-fav-item {
    max-width: 344px;
    min-height: 523px;
  }
}
.card-image {
  width: 307px;
  height: 257px;
  margin: 0 auto;
  border-radius: 25px;
  padding: 14px 14px 0;
}
@media only screen and (min-width: 768px) {
  .card-image {
    width: 316px;
    height: 289px;
  }
}

.text-box {
  padding: 20px;
}
@media only screen and (min-width: 768px) {
  .text-box {
    padding: 24px;
  }
}
.cocktail-name {
  color: var(--font-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;

  margin-bottom: 14px;
}
@media only screen and (min-width: 768px) {
  .cocktail-name {
    font-size: 20px;
    line-height: 1.2;
  }
}

.cocktail-descr {
  max-width: 295px;
  height: 54px;

  color: var(--font-color);

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;

  margin-bottom: 20px;
}

.btn-box {
  flex-basis: 232px;

  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .btn-box {
    width: 296px;
  }
}

.card-btn {
  flex-basis: 232px;
  height: 48px;

  background-color: inherit;

  padding: 14px;
  border-radius: 12px;
  border: 1px solid var(--violet);

  color: var(--font-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  transition: var(--transition);
}
@media only screen and (min-width: 768px) {
  .card-btn {
    width: 225px;
    height: 56px;

    padding: 16px;

    font-size: 18px;
    line-height: 1.33;
  }
}

.card-btn:focus,
.card-btn:hover {
  background-color: var(--violet);

  color: var(--white);
}

.btn-favorite {
  width: 48px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 12px;
  background: var(--violet);
  color: var(--white);
  transition: var(--transition);
}
@media only screen and (min-width: 768px) {
  .btn-favorite {
    width: 56px;
    height: 56px;
  }
}

.btn-favorite:hover,
.btn-favorite:focus,
.btn-favorite:active {
  scale: 1.1;
}
.card-icon,
.card-icon-ing {
  stroke: currentColor;
  width: 18px;
  height: 18px;
  pointer-events: none;
}
use {
  pointer-events: none;
}
@media only screen and (min-width: 768px) {
  .card-icon,
  .card-icon-ing {
    width: 24px;
    height: 24px;
  }
}
