.select-box {
  position: relative;
  display: iinline-flex;
  gap: 33px;
  width: 90px;
  border: none;
}

.cocktail-select {
  position: relative;

  padding: 8px 14px;
  width: 100%;
  height: 34px;

  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;

  color: #fdfdff;
  border-radius: 8px;
  background: rgba(126, 143, 221, 0.4);
  border: none;
  appearance: none;
}

.icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  fill: #fdfdff;
  cursor: pointer;
}

.cocktail-select option {
  color: #fdfdff;
  background: rgba(126, 143, 221, 0.4);
}
