<div class="auth-backdrop is-hidden">
  <div class="auth-modal">
    <h1>Sign up</h1>
    <form>
      <input type="email" id="reg-email" name="email" placeholder="E-mail" />
      <input
        type="password"
        id="reg-pass"
        name="password"
        placeholder="password"
      />
      <input
        type="text"
        id="reg-username"
        name="username"
        placeholder="your name"
      />
      <button type="submit" id="reg-submit">Submit!</button>
    </form>
    <form>
      <input type="email" id="login-email" name="email" placeholder="E-mail" />
      <input
        type="password"
        id="login-pass"
        name="password"
        placeholder="password"
      />
      <button type="submit" id="login-submit">Submit!</button>
    </form>
    <h2>Sign in with social networks</h2>
    <button type="submit" class="auth-logout">Log out</button>
    <button type="button" class="social-signin" id="google">
      Log in with google
    </button>
    <button id="login-modal-close">X</button>
  </div>
</div>
