<section class="favorite-coctails-result">
  <div class="container">
    <h2 class="section-title">Favorite cocktails</h2>
    <!-- Помилка коли нема фаворит коктейлів -->
    <div class="error-box">
      <svg class="icon-error">
        <use href="./public/sprite.svg#icon-error"></use>
      </svg>
      <p class="error-text">
        You haven't added any
        <span class="error-accent-text">favorite cocktails</span> yet
      </p>
    </div>
    <!-- список для коктейлів  -->
    <ul class="cocktail-favorite list"></ul>
  </div>
</section>
