<section class="favorite-coctails-result">
  <div class="container">
    <h2 class="section-title">Favorite cocktails</h2>
    <!-- Помилка коли нема фаворит коктейлів -->
    <div class="error-box">
      <svg class="icon-error">
        <use href="./public/sprite.svg#icon-error"></use>
      </svg>
      <p class="error-text">
        You haven't added any
        <span class="error-accent-text">favorite cocktails</span> yet
      </p>
    </div>

    <!-- список для коктейлів  -->
    <ul class="cocktail-list list">
      <!-- Шаблон коктейлю для рендеру -->
      <li class="cocktail-item">
        <img
          class="card-image img"
          src="./images/testImg@mob.webp"
          alt="cocktail"
        />
        <div class="text-box">
          <h2 class="cocktail-name">Negroni</h2>
          <p class="cocktail-descr">
            An iconic Italian cocktail, the Negroni features a balanced blend of
            gin, Campari, and sweet vermouth, known for its bittersweet flavor
            and ruby-red color. Served over ice with an orange slice, it offers
            a robust and refreshing taste experience.
          </p>
          <div class="btn-box">
            <button class="card-btn btn js-btn-learn-more">learn more</button>
            <button
              class="btn-favorite btn js-btn-favorite"
              data-id="639b6de9ff77d221f190c57e"
            >
              <svg class="card-icon" width="18" height="18">
                <use href="./public/sprite.svg#trash-icon"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
