<!-- Шаблон інгредієнта фаворит-->
<section class="favorite-ingridients-result">
  <div class="container">
    <h2 class="section-title">Favorite ingredients</h2>
    <!-- Помилка коли нема фаворит інгредієнта -->
    <div class="error-box">
      <svg class="icon-error">
        <use href="./public/sprite.svg#icon-error"></use>
      </svg>
      <p class="error-text">
        You haven't added any
        <span class="error-accent-text">favorite ingredients</span> yet
      </p>
    </div>
    <!-- список для інгредієнтів  -->
    <ul class="ingredient-list list"></ul>
  </div>
</section>
