<header class="header-page" id="header">
  <div class="header-container container">
    <div class="header-content">

      <!-- Навігація по розділам сайту -->
      <nav class="header-page-nav">
        <ul class="menu-list list">
          <li class="header-menu-item"><a href="/src/index.html">Home</a></li>
          <li class="header-menu-item dropdown"><p class="link-favourite">Favorite
            <svg class="arrow" width="24" height="24" id="toggleDropdown">
              <use href="./public/sprite.svg#arrow-to-down"></use>
            </svg>
          </p>
          <ul class="list-dropdown dropdown-menu">
            <li><a class="dropdown-elements" href="/src/fav-coctails.html">Favorite cocktails</a></li>
            <li><a class="dropdown-elements"  href="/src/fav-ingridients.html">Favorite ingredients</a></li>
          </ul></li>
        </ul>
        
        <!-- Лого -->
<a class="logo link" href="./index.html"><span class="logo-text">DRINKIFY</span>
  <svg class="logo-icon" width="24" height="20">
    <use href="./public/cup.svg#icon-coc-cup"></use>
  </svg></a>
      </nav>

<div class="forms">
  <!-- Кнопка Log In -->
  <!-- <button class="login-button" id="login-modal-btn">Log In</button> -->


<!-- Search form -->
<form class="search-form-main js-search" id="search-form">
  <input class="search-form-input-main" type="text" name="searchQuery" autocomplete="off" placeholder=Search />
  <svg class="svg-search-main" width="16" height="16">
    <use href="./public/sprite.svg#icon-search"></use>
  </svg>
</form>

<!-- light-dark mode  -->
<div class="mode-container">
<div class="daynight">

  <label for="checkbox">
  <input class="js-theme-change" type="checkbox" name="mode-checkbox" id="checkbox">
  <div class="toggle">
  <div class="cloud"></div>
    <div class="star"></div>
    <div class="sea"></div>
    <div class="mountains"></div>
  </div>
  </label>
</div></div>
</div>
</div>

<button type="button" class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
  <svg class="icon-burger" width="32" height="32">
    <use href="./public/sprite.svg#icon-burger"></use>
  </svg>
</button>

</header>

<!-- HAMBURGER MENU -->
<div class="header-alternative-menu js-menu-container" id="mobile-menu">
  <!-- Лого -->
  <div class="burger-header">
    <div class="burger-header-left-part">
      <a class="logo link logo-burger" href="./index.html">
        <span class="logo-text logo-text-hamburger">DRINKIFY</span>
        <svg class="logo-icon logo-icon-burger" width="24" height="20">
          <use href="./public/cup.svg#icon-coc-cup"></use>
        </svg>
      </a>
    </div>
    <!-- light-dark mode -->
    <div class="burger-header-right-part">
      <div class="mode-burger-container">
  <div class="daynight">
    <label for="burger-checkbox">
      <input class="js-theme-change" type="checkbox" name="mode-burger-checkbox" id="burger-checkbox">
      <div class="toggle">
        <div class="cloud"></div>
        <div class="star"></div>
        <div class="sea"></div>
        <div class="mountains"></div>
      </div>
    </label>
  </div>
</div>
      <button class="menu-toggle js-close-menu">
        <svg class="modal-icon modal-icon-burger" width="32" height="32">
          <use href="./public/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div> 
  </div> 

  <div class="burger-requests">
    <!-- Log-in button -->
    <!-- <button class="login-button" id="login-modal-btn">Log In</button> -->
    <!-- search form -->
    <form class="search-form js-search" id="burger-search-form">
      <input class="search-form-input" type="text" name="searchQuery" autocomplete="off" placeholder="Search" />
      <svg class="svg-search" width="16" height="16">
        <use href="./public/sprite.svg#icon-search"></use>
      </svg>
    </form>
  </div> 

  <!-- Site navigation -->
  <nav class="burger-nav-menu">
    <ul class="burger-menu-list list">
      <li class="header-menu-burger-item burger-home"><a href="/src/index.html">Home</a></li>
      <li class="header-menu-burger-item burger-favorite" id="favorite-menu">
        <p class="dropdown dropdown-favourite">Favorite
          <svg class="burger-arrow" width="20" height="20">
            <use href="./public/sprite.svg#arrow-to-down"></use>
          </svg>
        </p>
        <ul class="burger-list-dropdown dropdown-menu">
          <li><a class="burger-dropdown-elements" href="/src/fav-coctails.html">Favorite cocktails</a></li>
          <li><a class="burger-dropdown-elements" href="/src/fav-ingridients.html">Favorite ingredients</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <!-- <div class="star-background"> -->
    <svg class="burger-star" width="391" height="391">
      <use href="./public/symbol-defs.svg#icon-burger_star"></use>
    </svg>
  <!-- </div> -->
</div> 

