<header class="header-page">
  <div class="header-container container">
    <div class="header-content">
      <nav class="header-page-nav">
        <ul menu-list list>
          <li class="header-menu-item"></li>
          <li class="header-menu-item"></li>
          <a href=""></a>
        </ul>
      </nav>
      <form action="">
        <button></button>
        <input type="text" />
      </form>
      <button></button>
    </div>
    <div class="header-alternative-menu">
      <a href=""></a>
      <button></button>
    </div>
  </div>
</header>
