<section class="hero">
  <div class="main-hero-box">
    <h1></h1>
    <p></p>
    <button></button>
    <img src="" alt="" />
    <div>
      <svg></svg>
      <p></p>
    </div>
  </div>
</section>
<!-- <picture> -->
<!-- =========== D - E - S - K - T - O - P =========== -->
<!-- <source
              media="(min-width: 1280px)"
              srcset="
               desktop@1x.webp 1x,
               desktop@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                desktop@1x.png 1x,
                desktop@2x.png 2x
              "
              type="image/png"
            /> -->
<!-- =========== T - A - B - L - E - T =============== -->
<!-- <source
              media="(min-width: 768px)"
              srcset="
                tablet@1x.webp 1x,
                tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                tablet@1x.png 1x,
                tablet@2x.png 2x
              "
              type="image/webp"
            /> -->
<!-- =========== M - O - B - I - L - E =============== -->
<!-- <source
              media="(min-width: 375px)"
              srcset="
                mobile@1x.webp 1x,
                mobile@1x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 375px)"
              srcset="
                mobile@2x.png 1x,
                mobile@2x.png 2x
              "
              type="image/webp"
            /> -->
<!-- ================ I - M - G================= -->
<!-- <img
              class="picture"
              src="mobile@1x.png"
              alt="photo"
              width="300"
              height="250"
              loading="lazy"
            /> -->
<!-- </picture>  -->
