<section class="hero">
  <div class="main-hero-box container">
    <div class="hero-coordinates">
      <h1 class="header-hero">
        A party without <span class="span-drink">cocktails</span> is not like a
        party
      </h1>
      <p class="paragraf-hero">
        From classic sips to exotic mixes, we're your key to becoming a cocktail
        wizard!
      </p>
      <button  class="btn-hero" type="button" onclick="window.location.href = '#cocktail-section';">
        View cocktails
      </button>
    </div>

    <!-- <a href="#cocktail-section" class="link-btn">  <button class="btn-hero" type="button">View cocktails</button></a> -->
    <!-- <img src="" alt="" /> -->
    <div class="hero-box">
      <div class="hero-twice">
        <picture class="bg-hero">
          <source media="(min-width: 768px)" srcset="./images/BG-TABLET1X.webp 1x, ./images/BG-TABLET2X.webp 2x"
            type="image/webp" />
          <source media="(min-width: 768px)" srcset="./images/BG-TABLET1X.png 1x, ./images/BG-TABLET2X.png 2x"
            type="image/png" />

          <source media="(min-width: 320px)" srcset="./images/BG-MOB1X.webp 1x, ./images/BG-MOB2X.webp 2x"
            type="image/webp" />
          <source media="(min-width: 320px)" srcset="./images/BG-MOB1X.png 1x, ./images/BG-MOB2X.png 2x"
            type="image/png" />

          <img class="picture" src="./images/BG-MOB1X.png" alt="backgroundimg" width="300" height="250"
            loading="lazy" />
        </picture>

        <picture class="girl-hero">
          <source media="(min-width: 768px)" srcset="
              ./images/girl-tabl@1x.webp 1x,
              ./images/girl-tabl@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width: 768px)" srcset="./images/girl-tabl@1x.png 1x, ./images/girl-tabl@2x.png 2x"
            type="image/png" />
          <source media="(min-width: 320px)" srcset="./images/girl-mob@1x.webp 1x, ./images/girl-mob@2x.webp 2x"
            type="image/webp" />
          <source media="(min-width: 320px)" srcset="./images/girl-mob@1x.png 1x, ./images/girl-mob@2x.png 2x"
            type="image/png" />

          <img class="picture" src="./images/girl-mob@1x.png" alt="girl with cocktail" width="300" height="250"
            loading="lazy" />
        </picture>

        <p class="fav-drink">Search your favorite cocktail by ABC</p>
      </div>
    </div>
  </div>
</section>