<div class="backdrop is-hidden" data-modal>
  <div class="modal-cocktail">
    <svg class="button-close-icon" width="22" height="22" data-modal-close>
      <use href="./public/sprite.svg#icon-close"></use>
    </svg>
    <div class="modal-content-render"></div>
  </div>
</div>

<!-- ----------------------- markup modal Ingred ------------------------- -->

<div class="backdrop-ingred is-hidden" data-modal-ing>
  <div class="modal-ingred">
    <svg class="button-close-icon" width="22" height="22" data-modal-ing-close>
      <use href="./public/sprite.svg#icon-close"></use>
    </svg>
    <div class="modal-ingred-content"></div>
  </div>
</div>
