<div class="backdrop is-hidden" data-modal>
  <div class="modal-cocktail">
    <svg class="button-close-icon" width="22" height="22" data-modal-close>
      <use href="./public/sprite.svg#icon-close"></use>
    </svg>

    <div class="modal-flex-wrapper">
      <img
        class="modal-image"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSf-yz1G0cJuEMlCZ7p6SB8OLs1i9BxoJbdZg&usqp=CAU"
        alt=""
        width="295"
        height="277"
      />
      <div class="modal-content">
        <h3 class="cocktail-modal-title visually-hidden">Acid</h3>
        <h4 class="modal-capture">Ingredients</h4>
        <p class="modal-text modal-subtitle">Per cocktail</p>
        <ul class="modal-ingredient-list">
          <li class="modal-ingredient-item modal-text">
            <button class="ingred-item-link" type="button">....</button>
          </li>
          <li class="modal-ingredient-item modal-text">
            <button class="ingred-item-link" type="button">....</button>
          </li>
          <li class="modal-ingredient-item modal-text">
            <button class="ingred-item-link" type="button">....</button>
          </li>
          <li class="modal-ingredient-item modal-text">
            <button class="ingred-item-link" type="button">....</button>
          </li>
          <li class="modal-ingredient-item modal-text">
            <button class="ingred-item-link" type="button">....</button>
          </li>
        </ul>
      </div>
    </div>
    <h4 class="modal-capture">Instractions:</h4>
    <p class="modal-text text">
      Add the gin, Campari and sweet vermouth to a mixing glass filled with ice,
      and stir until well-chilled. Strain into a rocks glass filled with large
      ice cubes. Garnish with an orange peel.
    </p>
    <button type="button" class="modal-button" type="button">
      add to favorite
    </button>
  </div>
</div>

<!-- ----------------------- markup modal Ingred ------------------------- -->

<!-- <div class="backdrop-ingred is-hidden" data-modal>
  <div class="modal-ingred">
    <svg class="button-close-icon" width="22" height="22" data-modal-close>
      <use href="./public/sprite.svg#icon-close"></use>
    </svg>

    <h3 class="ingred-modal-title">Campari</h3>
    <p class="ingred-modal-subtitle">Liqueur</p>
    <p class="modal-ingred-desc">
      <span class="selected-title">Campari</span> is an Italian alcoholic
      liqueur, considered an apéritif (20.5%, 21%, 24%, 25%, or 28.5% ABV,
      depending on the country in which it is sold), obtained from the infusion
      of herbs and fruit (including chinotto and cascarilla) in alcohol and
      water. It is a bitters, characterised by its dark red colour.
    </p>
    <ul class="modal-ingred-list">
      <li class="modal-ingred-item">Type:</li>
      <li class="modal-ingred-item">Country of origin:</li>
      <li class="modal-ingred-item">Alcohol by volume:</li>
      <li class="modal-ingred-item">Flavour :</li>
    </ul>
    <button type="button" class="modal-button" type="button">
      add to favorite
    </button>
  </div>
</div> -->
