<div class="backdrop is-hidden" data-modal>
  <div class="modal-cocktail">
    <svg class="button-close-icon" width="22" height="22" data-modal-close>
      <use href="./public/sprite.svg#icon-close"></use>
    </svg>

    <div class="modal-flex-wrapper">
      <img
        class="modal-image"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjZYshTv4iuvDRnQ1lKB0DyiRDR_jazqvgZncTFLPEPiQeQk6Pam7uP4CfYHlAvRcMnEk&usqp=CAU"
        alt=""
        width="295"
        height="277"
      />
      <div class="modal-content">
        <h3 class="cocktail-modal-title visually-hidden">Acid</h3>
        <h4 class="modal-capture">Ingredients</h4>
        <p class="modal-text modal-subtitle">Per cocktail</p>
        <ul class="modal-ingredient-list">
          <li class="modal-ingredient-item modal-text">
            <button>....</button>
          </li>
          <li class="modal-ingredient-item modal-text">
            <button>....</button>
          </li>
          <li class="modal-ingredient-item modal-text">
            <button>....</button>
          </li>
          <li class="modal-ingredient-item modal-text">
            <button>....</button>
          </li>
          <li class="modal-ingredient-item modal-text">
            <button>....</button>
          </li>
        </ul>
      </div>
    </div>
    <h4 class="modal-capture">Instractions:</h4>
    <p class="modal-text text">
      Add the gin, Campari and sweet vermouth to a mixing glass filled with ice,
      and stir until well-chilled. Strain into a rocks glass filled with large
      ice cubes. Garnish with an orange peel.
    </p>
    <button class="modal-button" type="button">add to favorite</button>
  </div>
</div>
