<section class="selected">
  <div class="container">
    <div class="select-box">
      <select class="cocktail-select">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
        <option value="E">E</option>
        <option value="F">F</option>
        <option value="G">G</option>
        <option value="H">H</option>
        <option value="I">I</option>
        <option value="J">J</option>
        <option value="K">K</option>
        <option value="L">L</option>
        <option value="M">M</option>
        <option value="N">N</option>
        <option value="O">O</option>
        <option value="P">P</option>
        <option value="Q">Q</option>
        <option value="R">R</option>
        <option value="S">S</option>
        <option value="T">T</option>
        <option value="U">U</option>
        <option value="V">V</option>
        <option value="W">W</option>
        <option value="X">X</option>
        <option value="Y">Y</option>
        <option value="Z">Z</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="0">0</option>
      </select>
      <svg class="icon" width="22" height="22">
        <use href="/src/public/sprite.svg#arrow-to-rigt"></use>
      </svg>
    </div>
    <div class="btn-container">
      <button type="button" class="btn-select" value="A">A</button>
      <button type="button" class="btn-select" value="B">B</button>
      <button type="button" class="btn-select" value="C">C</button>
      <button type="button" class="btn-select" value="D">D</button>
      <button type="button" class="btn-select" value="E">E</button>
      <button type="button" class="btn-select" value="F">F</button>
      <button type="button" class="btn-select" value="G">G</button>
      <button type="button" class="btn-select" value="H">H</button>
      <button type="button" class="btn-select" value="I">I</button>
      <button type="button" class="btn-select" value="J">J</button>
      <button type="button" class="btn-select" value="K">K</button>
      <button type="button" class="btn-select" value="L">L</button>
      <button type="button" class="btn-select" value="M">M</button>
      <button type="button" class="btn-select" value="N">N</button>
      <button type="button" class="btn-select" value="O">O</button>
      <button type="button" class="btn-select" value="P">P</button>
      <button type="button" class="btn-select" value="Q">Q</button>
      <button type="button" class="btn-select" value="R">R</button>
      <button type="button" class="btn-select" value="S">S</button>
      <button type="button" class="btn-select" value="T">T</button>
      <button type="button" class="btn-select" value="U">U</button>
      <button type="button" class="btn-select" value="V">V</button>
      <button type="button" class="btn-select" value="W">W</button>
      <button type="button" class="btn-select" value="X">X</button>
      <button type="button" class="btn-select" value="Y">Y</button>
      <button type="button" class="btn-select" value="Z">Z</button>
      <button type="button" class="btn-select" value="1">1</button>
      <button type="button" class="btn-select" value="2">2</button>
      <button type="button" class="btn-select" value="3">3</button>
      <button type="button" class="btn-select" value="4">4</button>
      <button type="button" class="btn-select" value="5">5</button>
      <button type="button" class="btn-select" value="6">6</button>
      <button type="button" class="btn-select" value="7">7</button>
      <button type="button" class="btn-select" value="8">8</button>
      <button type="button" class="btn-select" value="9">9</button>
      <button type="button" class="btn-select" value="0">0</button>
    </div>
  </div>
</section>
